
body{
    display: flex;
    justify-content: center;
}
.titleaccueil{
    color: rgb(255, 0, 0);
    display: flex;
    position: center;
    font-weight: initial;
    
}
.cadre{

border: 4px solid #ff0000; /* bordure */
border-radius: 10px; /* bordure arrondie */
width: 217px; /* largeur */
height: 200px;
background-color: black;
}
.cadre span{
border-bottom: 1px solid #CACCCD; /* bordure du bas */
font-size: 15px; /* taille du texte */
margin: 0; /* marges ext */
padding: 5px 0; /* marges int. */      
text-align: center; /* alignement du texte */
display : block; /* permet de prendre toute la place */
}
.cadre a{
display: block; /* affichage block (pleine largeur)
border-bottom: 1px solid #CACCCD; /* bordure du bas */
color: #ffffff; /* couleur du texte */
padding: 5px; /* marges int. */
text-decoration: none; /* permet de retirer l'heritage de l'effet souligné des liens */
}

.cadre a:last-child{
border: 0; /* pas de bordure pour le dernier lien */
}
.cadre a:hover:last-child{
border-radius: 0 0 10px 10px; /* arrondie lors du survol pour éviter débordement lors de l'application du hover */
}
#score{
    background-color: white;
}
html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  canvas {
    border: 1px solid white;
  }
